*~
*.o
*.lo
*.la
*.tar.gz

etc/Makefile
etc/Makefile.in

include/Makefile
include/Makefile.in
include/pkgutils/Makefile
include/pkgutils/Makefile.in

man/Makefile
man/Makefile.in
man/pkgadd.8
man/pkginfo.8
man/pkgmk.8
man/pkgrm.8
man/rejmerge.8

scripts/Makefile
scripts/Makefile.in
scripts/pkgmk
scripts/rejmerge

src/.libs
src/.deps
src/Makefile
src/Makefile.in
src/pkgadd
src/pkginfo
src/pkgrm
src/pkgutils

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
config.h
config.h.gch
config.h.in
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
